body {
    font-family: 'Montserrat', sans-serif;
    background-color: #f2f2f299;
    color: #404777;
}

.bg-color1 {
    background-color:#17a2e8a6 !important;
}

.bg-color2 {
    background-color: #ffffff !important;
}

.bg-color3 {
    background-color: #28b6f6 !important;
}
.bg-color4 {
    background-color: #f3f3f3e3 !important;
}

.bg-color5 {
    background-color: #f2f2f299 !important;
}



.letter-space {
    letter-spacing: 1px;
}

.fa, .far, .fas {
    font-size: 3rem;
}

.font-color-blue{
    color: #28b6f6 !important;
}

@media only screen and (max-width: 767px) {
    .w-65 {
    width: 65%;
}

}
@media (max-width: 767px) {
.center-nav-items {
    margin-left: auto!important;
    margin-right: auto!important;
}
}


/* Logo and contact */

@media only screen and (min-width: 768px){
    .font-md {
        font-size: 2.7rem !important;
    }
}

@media only screen and (max-width: 767px){
    .font-sm {
        font-size: 1rem !important;
    }
}
/*Navbar*/


.navbar {

    margin-bottom: 0;
    border: 0;
    width: 100%;
    background-color: #a9bdd4;

}

.navbar .navbar-toggler {
    border: 2px solid #404777;
    background-color:  #28b6f6;
    
}

.hamburger {
    color: #b6e2f5;
    font-size: 2rem;
    
}

.navbar .navbar-collapse {
    text-align: left;

}

#navbarNav > ul > li > a{
    color: #404777; 
    font-weight: bold;
    font-size: 1.5rem;
}



/*Landing page*/

.landing-page { 
    height: 85vh;
    background: url("../images/10.jpg") no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}


.quote-landing {
    color:  #404777;
    font-weight: bold;
    font-size: 4rem;
}
.quote-mark{  quotes: "“" "”" "‘" "’";
    }
    .quote-mark:before {
        content: open-quote;
    }
    .quote-mark:after {
        content: close-quote;
    }
    


@media only screen and (max-width: 320px) {
  p.quote-landing {
    font-size: 1.8rem;
  }
}
@media only screen and (min-width:321px) and (max-width: 767px) {
  p.quote-landing {
    font-size: 2.1rem;
  }
}


/*About us*/

.container-about-us  {
    
    padding-top:5%;
    padding-bottom: 5%;
    font-size: 1.4rem;
    line-height: 1.3;
    text-align: center;
}

@media only screen and (max-width: 600px) {
  .container-about-us {
    font-size: 1rem;
  }
}


/* Contact */

.container-contact{
    padding-top: 4%;
    padding-bottom: 7%;
    
}

.btn-send {
    color: #404777;
    border-color:#404777 ;
    background-color:  #f2f2f299;
    border-radius: 8px;
   
}
.btn-send:hover{
    background-color: #404777;
    color: #f2f2f299;
}


/* Our services */

img {
    height: auto;
    width: 100%;
}


/*footer*/



.fab {
    color: #838080;
    font-size: 2.5rem;
}

.fab:hover{
    color:darkgrey;
}

.join{
		border: 1px #191a1f solid;
		padding-left: 15px;
		padding-right: 15px;
		border-radius: 5px;
		color: #838080;
		text-decoration: none;
		font-size: 2rem;
	}

a.join:hover{
    background: #191a1f;
    text-decoration: none;
    color:#eaeaea;
}

@media only screen and (max-width: 922px){
    
    .fab, .join {
    font-size: 2rem;    
    }
}

/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #838080; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: darkgrey; 
}
.divimg {
    width: 100%;
    height: 80vh;
}

